body {
    margin: 0px;
    background-color: #bbd49d;
    font-family: system-ui, -apple-sistem, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header>div {
    font-size: 25px;
    flex-direction: row;
    background: linear-gradient(rgb(45, 145, 95), #bbd49d);
}

header>div>h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 10px rgb(64, 121, 64);
    margin: auto;
    justify-content: center;
    text-align: center;
    color: rgb(240, 33, 33);
    padding: 0px;
}

header:hover {
    color: rgb(240, 209, 33);
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 10px rgb(64, 121, 64);
    margin: auto;
    justify-content: center;
    text-align: center;
    color: rgb(240, 209, 33);
    padding: 0px;
    text-decoration: none;
}

.caja-cartas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    gap: 10px;
}


#jugar {
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 25px;
    background-color: rgb(46, 219, 11);
    background: linear-gradient(to bottom right, rgb(46, 219, 11), rgb(143, 233, 70));
    border-color: rgb(22, 24, 21);
    color: rgb(3, 1, 15);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    top: -50px;
}

#registro {
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 25px;
    border-color: rgb(22, 24, 21);
    background-color: rgb(240, 209, 33);
    background: linear-gradient(to bottom right, rgb(240, 209, 33), rgb(248, 245, 71));
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    top: -50px;
}

#sobrenosotros {
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 25px;
    border-color: rgb(22, 24, 21);
    background-color: rgb(148, 148, 131);
    background: linear-gradient(to bottom right, rgb(148, 148, 131), rgb(171, 172, 157));
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration-style: none;
    display: inline-block;
    font-size: 25px;
    top: -50px;
}

footer {
    margin-bottom: 0px;
    text-align: center;
}

#Tittle {
    width: 300px;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    margin: 10px;
    padding: 25px;
}

.pagina {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    margin: 5px;

}

.contenedor {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 20vw;
    height: 45vh;
    border-radius: 20px;
    box-shadow: 50 50 50 10px;
    background-color: rgb(218, 218, 218);
}

input {
    border-color: rgb(240, 209, 33);
    align-items: center;
    width: 15vw;
    height: 20px;
}

#usuario {
    margin: 20px;
}

#contraseña {
    margin: 40px;
}

.barra {
    margin: 10px;
}

#boton {
    border-radius: 25px;
    border-color: #bbd49d;
    background-color: rgb(240, 209, 33);
    background: linear-gradient(to bottom right, rgb(240, 209, 33), rgb(248, 245, 71));
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

label {
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/** Iconos **/

img {
    object-fit: cover;
    width: 100px;
    height: 100px;

}


h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding-top: 70px;
    background: linear-gradient(to right, #2d9b64,
            #c28f21, #59750d, #abb92b);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#titulo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #096838,
            #664809, #59750b, #88941f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.register {
    margin-top: 150px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif
}


/** Inicio**/
.carta {
    width: 15vw;
    height: 40vh;
    background-color: rgb(46, 219, 11);
    border: solid rgb(0, 0, 0) 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease;
    flex-direction: column;
    
}

.carta:nth-child(2){
    background-color: rgb(225, 225, 22);
}

.carta:nth-child(3){
    background-color: rgb(170, 170, 162);
}




.carta:hover {
    box-shadow: 5px 5px 20px grey;
    transform: translateY(-3%);
}



/** Categorias: **/


.categoriaTitulo {
    text-align: center;
    justify-content: center;
    font-size: 3rem;


}

/** Ciencia**/
.carta5 {
    width: 15vw;
    height: 40vh;
    background-color: #0e8d03;
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 400ms ease;
    flex-direction: column;
    text-align: center;

}

/** Historia**/
.carta6 {
    width: 15vw;
    height: 40vh;
    background-color: rgb(230, 245, 19);
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 400ms ease;
    flex-direction: column;
    box-shadow: #000000;
}

/** Geografia**/

.carta7 {
    width: 15vw;
    height: 40vh;
    background-color: rgb(75, 57, 238);
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 400ms ease;
    flex-direction: column;
}


/** Informatica**/
.carta8 {
    width: 15vw;
    height: 40vh;
    background-color: #c416f0;
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 400ms ease;
    flex-direction: column;
}


.contenedor-general {
    height: 89vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.carta5:hover {
    box-shadow: 5px 5px 20px grey;
    transform: translateY(-3%);
}

.carta6:hover {
    box-shadow: 5px 5px 20px grey;
    transform: translateY(-3%);
}

.carta7:hover {
    box-shadow: 5px 5px 20px grey;
    transform: translateY(-3%);
}

.carta8:hover {
    box-shadow: 5px 5px 20px grey;
    transform: translateY(-3%);
}





/** Botones: **/


#ciencia {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid black;
    border-radius: 25px;
    border-color: #000000;
    background-color: #0e8d03;
    background: linear-gradient(to bottom right, #7fee75, #7fee75);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration-style: none;
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: -50px;
    margin-top: 70px;
}

#historia {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid black;
    border-radius: 25px;
    border-color: #000000;
    background-color: rgb(255, 255, 255);
    background: linear-gradient(to bottom right, #f0f33d, #f0f33d);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration-style: none;
    display: inline-block;
    font-size: 40px;
    position: relative;
    top: -50px;
    margin-top: 70px;
}

#geografia {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid black;
    border-radius: 25px;
    border-color: #000000;
    background-color: rgb(148, 148, 131);
    background: linear-gradient(to bottom right, #3a7bf5, #3a7bf5);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration-style: none;
    display: inline-block;
    font-size: 40px;
    position: relative;
    top: -50px;
    margin-top: 70px;
}

#informatica {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid black;
    border-radius: 25px;
    border-color: #000000;
    background-color: rgb(148, 148, 131);
    background: linear-gradient(to bottom right, #ee80f1, #ee80f1);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration-style: none;
    display: inline-block;
    font-size: 40px;
    position: relative;
    top: -50px;
    margin-top: 70px;
}

.containerCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 150px;
    gap: 25px;
}

.planta {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    justify-content: center;
}


.castillo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    justify-content: center;
}

.planeta {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    justify-content: center;
}

.chip {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    justify-content: center;
}

.containerCategoria {
    display: flex;
    height: 60vh;
    width: 100%;
    flex-direction: column;
    font-size: 2rem;

}


.containerCartas {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 80vw;
    align-items: center;
    justify-content: space-evenly;

}





@media(max-width: 768px) {

    .containerCategoria {
        gap: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-around;


    }

    

    h2 {
        font-size: 50px;
        position: relative;
        top: -100px;
        text-align: center;
    }

    .containerCartas {
        display: flex;
        flex-direction: column;
    }

    button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: auto;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

    }

    .carta5 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vh !important;
        height: 50vh;
        margin-top: 2rem;

    }

    .carta6 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vh !important;
        height: 50vh;
        margin-top: 2rem;
    }

    .carta7 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vh !important;
        height: 50vh;
        margin-top: 2rem;
    }

    .carta8 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vh !important;
        height: 50vh;
        margin-top: 2rem;
    }

    .square {
        width: 15vw;
        height: 15vw;
    }

    .planta {
        width: 90px;
        height: 90px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: auto;
    }

    .planeta {
        width: 90px;
        height: 90px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: auto;
    }

    .castillo {
        width: 90px;
        height: 90px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: auto;
    }

    .chip {
        width: 90px;
        height: 90px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: auto;
    }

}





@media(max-width: 375px) {
    .containerCategoria {

        gap: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-around;


    }

    h2 {
        font-size: 40px;
        position: relative;
        top: -180px;
        text-align: center;
    }



    .contenedor-general {
        display: flex;
        flex-direction: column;
    }

    button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: auto;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

    }

    .carta5 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vh !important;
        height: 50vh;
        margin-top: 2rem;

    }

    .carta6 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vh !important;
        height: 50vh;
        margin-top: 2rem;
    }

    .carta7 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vh !important;
        height: 50vh;
        margin-top: 2rem;
    }

    .carta8 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vh !important;
        height: 50vh;
        margin-top: 2rem;
    }

    .square {
        width: 15vw;
        height: 15vw;
    }

    .planta {
        width: 90px;
        height: 90px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: auto;
    }

    .planeta {
        width: 90px;
        height: 90px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: auto;
    }

    .castillo {
        width: 90px;
        height: 90px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: auto;
    }

    .chip {
        width: 90px;
        height: 90px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: auto;
    }



}

/** Principal **/

@media (max-width: 430px) {
    .caja-cartas {
      width: 100%;
      background-color: antiquewhite;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .carta {
      height: 25vh;
      width: 70vw;
      display: flex;
      justify-content: space-evenly;
    }
    
    img{
        position: relative;
        top : 20px;

    }

    .button{
        width: 50vw;
        height: 8vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }

    h2{
        font-size: 20px;
        

    }
  }


  
@media (max-width: 375px) {
    .caja-cartas {
      width: 100%;
      background-color: antiquewhite;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .carta {
      height: 25vh;
      width: 70vw;
      display: flex;
      justify-content: space-evenly;
    }
    
    img{
        position: relative;
        top : 20px;
        width: 50px;
        object-fit: contain;


    }

    .button{
        width: 50vw;
        height: 8vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }

    h2{
        font-size: 20px;
        

    }

  }



