body{
    margin: 0px;
    background-color: #bbd49d;
    font-family: system-ui, -apple-sistem, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header > div{
    font-size: 25px;
    flex-direction: row;
    background: linear-gradient(rgb(45, 145, 95), #bbd49d);
}
header > div > h1
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 10px rgb(64, 121, 64);
    margin: auto;
    justify-content: center;
    text-align: center;
    color: rgb(240, 33, 33);
    padding: 0px;
}

header:hover{
    color: rgb(240, 209, 33);
}

a
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 10px rgb(64, 121, 64);
    margin: auto;
    justify-content: center;
    text-align: center;
    color: rgb(240, 209, 33);
    padding: 0px;
    text-decoration: none;
}

#buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    gap: 10px;
}

#jugar{
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 25px;
    background-color: rgb(46, 219, 11);
    background: linear-gradient(to bottom right, rgb(46, 219, 11), rgb(143, 233, 70));;
    border-color: rgb(22, 24, 21);
    color: rgb(3, 1, 15);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: -50px;
}

#registro
{
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 25px;
    border-color: rgb(22, 24, 21);
    background-color: rgb(240, 209, 33);
    background: linear-gradient(to bottom right, rgb(240, 209, 33), rgb(248, 245, 71));
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: -50px;
}

#sobrenosotros
{
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 25px;
    border-color: rgb(22, 24, 21);
    background-color: rgb(148, 148, 131);
    background: linear-gradient(to bottom right, rgb(148, 148, 131), rgb(171, 172, 157));
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration-style: none;
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: -50px;
}

footer
{
    margin-bottom: 0px;
    text-align: center;
}
#Tittle
{
    width: 300px;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    margin: 10px;
    padding: 25px;
}
.pagina
{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login
{
    margin: 5px;

}
.contenedor
{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 20vw;
    height: 45vh;
    border-radius: 20px;
    box-shadow: 50 50 50 10px;
    background-color: rgb(218, 218, 218);
}

input
{
    border-color: rgb(240, 209, 33);
    align-items: center;
    width: 15vw;    
    height: 20px;
}

#usuario{
    margin: 20px;
}
#contraseña{
    margin: 40px;
}
.barra{
    margin: 10px;
}
#boton{
    border-radius: 25px;
    border-color: #bbd49d;
    background-color: rgb(240, 209, 33);
    background: linear-gradient(to bottom right, rgb(240, 209, 33), rgb(248, 245, 71));
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

label{
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 /** Iconos **/
img{
    height:250px;
    width: 250px;  
    border-radius: 50%;  
    margin-left: 15px;
    margin-right: 15px;
}
h3{
    font-family: 'Times New Roman', Times, serif;    
    font-size: 20px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding-top: 70px;
    background: linear-gradient(to right, #2d9b64,
                    #c28f21, #59750d, #abb92b);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}
#titulo{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #096838,
                    #664809, #59750b, #88941f);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}

.register{
    margin-top: 150px;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif
}

@media  (max-width: 420px){
    .contenedor{
        width: 83vw;
      
    }
}

/** Inicio**/
.carta1{
    width: 15vw;
    height: 40vh;
    background-color: rgb(46, 219, 11);
    border: solid rgb(60, 155, 5) 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease;
    flex-direction: column;
}

.carta1:hover{
    box-shadow: 5px 5px 20px grey;
    transform: translateY(-3%);
}


.carta2:hover{
    box-shadow: 5px 5px 20px grey;
    transform: translateY(-3%);
}


.carta3:hover{
    box-shadow: 5px 5px 20px grey;
    transform: translateY(-3%);
}

.carta2{
    width: 15vw;
    height: 40vh;
    background-color: rgb(240, 209, 33);
    border: solid rgb(163, 139, 1) 4px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 400ms ease;
    flex-direction: column;
}

.carta3{
    width: 15vw;
    height: 40vh;
    background-color: #636363;
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 400ms ease;
    flex-direction: column;
}

/** Categorias: **/


.categoriaTitulo{
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    

}

/** Ciencia**/
.carta5{
    width: 15vw;
    height: 40vh;
    background-color: #0e8d03;
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 400ms ease;
    flex-direction: column;
    text-align: center;
    
}

/** Historia**/
.carta6{
    width: 15vw;
    height: 40vh;
    background-color:rgb(230, 245, 19) ;
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 400ms ease;
    flex-direction: column;
    box-shadow: #000000;
}

/** Geografia**/

.carta7{
    width: 15vw;
    height: 40vh;
    background-color: rgb(75, 57, 238);
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 400ms ease;
    flex-direction: column;
}


/** Informatica**/
.carta8{
    width: 15vw;
    height: 40vh;
    background-color: #c416f0;
    border: solid rgb(22, 24, 21) 4px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 400ms ease;
    flex-direction: column;
}

.contenedor-general{
    height: 89vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carta5:hover{
    box-shadow: 5px 5px 20px grey;
    transform: translateY(-3%);
}

.carta6:hover{
    box-shadow: 5px 5px 20px grey;
    transform: translateY(-3%);
}

.carta7:hover{
    box-shadow: 5px 5px 20px grey;
    transform: translateY(-3%);
}

.carta8:hover{
    box-shadow: 5px 5px 20px grey;
    transform: translateY(-3%);
}

.carta1 img{
    width: 100px;
}

.carta2 img{
    width: 100px;
}

.carta3 img{
    width: 100px;
}


/** Botones: **/


#ciencia
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid black;
    border-radius: 25px;
    border-color: #000000;
    background-color: #0e8d03;
    background: linear-gradient(to bottom right, #7fee75, #7fee75);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration-style: none;
    display: inline-block;
    font-size: 40px;
    position: relative;
    top: -50px;
    margin-top: 70px;
}

#historia
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid black;
    border-radius: 25px;
    border-color: #000000;
    background-color: rgb(255, 255, 255);
    background: linear-gradient(to bottom right, #f0f33d, #f0f33d);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration-style: none;
    display: inline-block;
    font-size: 40px;
    position: relative;
    top: -50px;
    margin-top: 70px;
}

#geografia
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid black;
    border-radius: 25px;
    border-color: #000000;
    background-color: rgb(148, 148, 131);
    background: linear-gradient(to bottom right, #3a7bf5, #3a7bf5);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration-style: none;
    display: inline-block;
    font-size: 40px;
    position: relative;
    top: -50px;
    margin-top: 70px;
}

#informatica
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid black;
    border-radius: 25px;
    border-color: #000000;
    background-color: rgb(148, 148, 131);
    background: linear-gradient(to bottom right, #ee80f1, #ee80f1);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration-style: none;
    display: inline-block;
    font-size: 40px;
    position: relative;
    top: -50px;
    margin-top: 70px;
}

.containerCategoria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 150px;
    gap: 25px;
}

.planta{
    height:100px;
    width: 100px;  
    border-radius: 50%;  
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    justify-content: center;
}


.castillo{
    height:100px;
    width: 100px;  
    border-radius: 50%;  
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    justify-content: center;
}

.planeta{
    height:100px;
    width: 100px;  
    border-radius: 50%;  
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    justify-content: center;
}

.chip{
    height:100px;
    width: 100px;  
    border-radius: 50%;  
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    justify-content: center;
}
