<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <script src="/juego.js"></script>
    <title>Seleccionar Categoría - Guerling©</title>
</head>

<body>
    <header>
        <div>
            <h1><a href="index.html">GUERLING</a></h1>
           
        </div>
    </header>



    <div class="containerCategoria">
        <h2>Elige una categoría</h2>
        <div class="containerCartas">
            <div class="carta5">
                <button id="ciencia" onclick="seleccionarCategoria('ciencia')">Ciencia</button>
                <img class="planta" src="/icon/bx-leaf.svg" alt="planta">
            </div>

            <div class="carta6">
                <button id="historia" onclick="seleccionarCategoria('historia')">Historia</button>
                <img class="castillo" src="/icon/bxs-castle.svg" alt="castillo">
            </div>

            <div class="carta7">
                <button id="geografia" onclick="seleccionarCategoria('geografia')">Geografía</button>
                <img class="planeta" src="/icon/bxs-planet.svg" alt="planeta">
            </div>

            <div class="carta8">
                <button id="informatica" onclick="seleccionarCategoria('informatica')">Informática</button>
                <img class="chip" src="/icon/bx-chip.svg" alt="chip">
            </div>
        </div>
    </div>

    <script>
        function seleccionarCategoria(categoria) {
            window.location.href = `/juego/${categoria}`;
        }   
    </script>
</body>

</html>